.container_nav{
    background-color: black;
    display: flex;
    justify-content: center;
    button{
        background-color: black;
        border: white;
    }
}
.selected button{
    background-color: red;
}
.nav_router{
    position: fixed;
}